#accSetting{

  .ratingSize{
    @media screen and (min-width:1500px){
      margin:60px 0;
    }
  }

  .userIcon{
    position: relative;
    height: 442px;

    @media screen and (max-width:991px){
      height: 330px;
    }
  }

  #user-image-content{
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 0);

  }

  img{
    margin:8%;
  }


  #accSettingAbove-img{
    //height:55%;
    width:80%;
    padding:1px;
    border: 2px solid grey;
    max-height: 350px;
    max-width:350px;

    @media screen and (max-width:991px){
      max-height: 250px;
      max-width: 250px;
      margin:20px;
      width:80%;
    }
  }

  .test{
    position:relative;
    height:462px;

    @media screen and (max-width:991px){
      height: 300px;
    }
  }

  .accProfile{
    margin-top:20px;
  }
}