$fetchOrange: #f36100;
* {
  box-sizing: border-box;
  transition: all 0.5s;
}


:not(.box, .footerBars) {
  overflow: hidden;
}

body, html {
  overflow: visible;
  width: 100vw;
  height: 100vh;
  //min-width:460px;
  background: url("/resources/images/beet-on-pink.jpg") no-repeat center;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {

}

.btn-primary {
  background: $fetchOrange;
  border: none;

}

button {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  color: $fetchOrange;
  outline: none;
  text-decoration: none;
}

h2, h3, h4, h6 {
  color: $fetchOrange;
  opacity: .8;
  margin: 15px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;

  @media screen and (max-width:500px){
      font-size:30px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
h6 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  text-shadow: 1px 1px rgba(119, 119, 119, 0.36);
}

// this is for the box's around the shopping and driver list
.box {
  padding: 0;
  margin: auto;
  text-align: center;
  opacity:.9;
  background-color:white;

  @media screen and(max-width: 500px) {
    width: 95%;
  }
  @media screen and(min-width: 500px) {
    width: 80%;
  }

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);

  .input {

    //background-color: white;
    position: relative;
    @media screen and (max-width: 500px) {
      font-size: 17px;
    }
    @media screen and (min-width: 500px) {
      font-size: 24px;
    }
    //font-family: inherit;
    //font-weight: inherit;
    outline: none;
    //color: inherit;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    border: none;
    //background: #fff;
    width: 100%;
    line-height: 2;
    text-indent: 7%;
    margin:0;
  }

  .item, .driverItem, .viewTicketItem {
    @media screen and(max-width: 500px) {
      font-size: 1em;
    }
    @media screen and(min-width: 500px) {
      font-size: 2em;
    }
    position: relative;
    font-size: 24px;
    border-top: 1px solid #ededed;
    font-weight: bold;
    width: 100%;
    line-height: 2;
    text-indent: 7%;
    text-align: left;
    //background-color: white;
  }

  .selected {
    text-decoration: line-through;
    opacity: .3;
  }

  #shopping_numItems, #driver_numItems {
    float: left;
    width: 33%;
    //display: inline;
  }

  .shopping_list {
    list-style: none;
    background: #fff;
    position: relative;
    text-align: left;
    //margin: 5% auto auto;
    text-indent: 7%;
  }

  .todo-footer, .driver-footer {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: left;
    border: 1px solid #ededed;
    padding: 8px;
    background: #fff;
    line-height: 2;
  }

  #shopping_submit_list, #_driver_submit_list {
    text-align: center;
    width: 33%;
    color: $fetchOrange;
    border: 0;
    outline: none;
    text-decoration: none;
  }

}

.footerBars {

  margin-bottom:2%;
  opacity:.9;
  .footer2 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    @media screen and(max-width: 500px) {
      width: 93%;
    }
    @media screen and(min-width: 500px) {
      font-size: 2em;
      width: 79%;
    }
    text-align: left;
    border: 1px solid #ededed;
    padding: 4px;
    background-color: #fff;
  }

  .footer3 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    @media screen and(max-width: 500px) {
      width: 91%;
    }
    @media screen and(min-width: 500px) {
      width: 78%;
    }
    text-align: left;
    border: 1px solid #ededed;
    padding: 3px;
    background-color: #fff;
  }
}

#loading_icon {
  .glyphicon-repeat-animate {
    -webkit-animation: spin2 .7s infinite linear;
    font-size: 30px;
    color: orange;
  }

  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }
}

.container {
  padding: 0;
  .row {
    margin: 0;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
  min-height: 0;
}

.box2{

  @media screen and(max-width: 550px) {
    width: 90%;
  }

  background-color: white;
  opacity:.9;
  width:60%;
  border:solid 1px lightgray;
  padding: 2%;
}