
@font-face {
  font-family: Fetch;
  src: url(/resources/fonts/aery.ttf);
}

@font-face{
  font-family: Glamour;
  src:url(/resources/fonts/Glamor-BoldExtended.ttf);
}

@font-face{
  font-family: Brandon;
  src:url(/resources/fonts/Brandon_light.otf);
}