

#homePage {

  .marketRow{
    //margin-top:10%;
  }

  .shop {

    position: relative;
    //background-color: rgba(255, 219, 153, 0.901961);
    padding: 40px 0;
    //margin: 0 10px;
    //@include tablet {
    //  margin:0 25px;
    //}
    //@include desktop {
    //  margin:0 25px;
    //}
    //border-radius: 100px;
@include shadow;
    &:hover {

      &>h2 {
        //text-shadow: 0 0 0 rgba(243,97,0,0.5), 0 0 2px rgba(0,0,0,0.8);

      }
    }

    h2 {
      font-family: 'Lobster', cursive;
      //&:hover {
      //  color: transparent;
      //  //color: transparent;
      //  text-shadow: 0 0 0px rgba(243,97,0,0.5), 0 0 20px rgba(243,97,0,0.5);
      //  //@include emphasis-shadow;
      //}
    }



  }



  /* this ensure the container is never
     larger than 90% of the screen */
  .container-fluid {
    //max-width: 80%;
  }

  /* needed to overwrite bootstraps margins*/
  h2 {
    margin: 0;

    @media screen and (max-width: 570px) {
      font-size: 23px;
      margin-bottom:0;
    }
  }



  h1 {
    margin: 5px 0 0 0;
    font-size: 45px;
  }

  .name {
    position: absolute;
    //font-size: 3em;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    }




  figure {
    &:hover {
      transform: scale(1.1, 1.1);
    }
    position: relative;
    padding: 16px 8px 0 8px;
    margin: 0;
    @include tablet {
      margin:30px 0;
    }
    @include desktop {
      margin:50px 0;
    }
    cursor: pointer;
    img {
      border-radius: 5px;
    }
  }


}
