
#homePage {

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 100%;
    }
  }

  //body {
  //  font-family: sans-serif;
  //  line-height: 0.4em;
  //  padding-top: 100px;
  //  background-color: #ffffff;
  //  max-width: 100%;
  //
  //}

  button{
    background-color: #ffffff;
    border:none;
  };

  /* this ensure the container is never
     larger than 90% of the screen */
  .container-fluid {
    max-width: 80%;
  }

  .row {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* needed to overwrite bootstraps margins*/
  h2 {
    margin: 0;
  }

  h1 {
    margin: 5px 0 0 0;
    font-size: 45px;
  }

  .name {
    font-family: Brandon;
    position: absolute;
    font-size: 3em;
    left: 0;
    width: 100%;
    top: 42%;
  }

  figure img {
    margin: 5% 0;
    border-radius: 5px;
    max-width: 100%;
  }

  figure {
    position: relative;
    margin: 0;
  }

  footer {
    font-size: 12px;
    padding: 20px 0;
  }

  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }

  footer ul {
    list-style: none;
  }

  footer li img {
    width: 32px;
    height: 32px;
  }

  .footer {
    height: 60px;
  }

  .footer {
    color: #777;
    padding: 10px 15px;
    height: 45px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
  }

  .footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

  .todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .todoapp .header h1 {
    margin-top: 70px;
    color: $fetchOrange;
    opacity: .8;
    font: 50px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  .todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    text-align: center;
    text-rendering: optimizeLegibility;
  }
  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
  }

}
