
#homePage {

  div{
    background-color: #ffffff;
    border:none;
  }

  /* this ensure the container is never
     larger than 90% of the screen */
  .container-fluid {
    //max-width: 80%;
  }

  //.row {
  //  margin-left: 10%;
  //  margin-right: 10%;
  //}

  /* needed to overwrite bootstraps margins*/


  .name {
    font-family: Brandon;
    position: absolute;
    font-size: 3em;
    left: 0;
    width: 100%;
    top: 42%;
  }

  figure img {
    margin: 0 0;
    border-radius: 5px;
    max-width: 100%;
  }

  figure {
    position: relative;
    margin: 0;
  }


}
