#passwordReset{


  .form-group {
    border: none;
    margin-top: 0;
    margin-bottom:30px;
    height:30px;
  }

  fieldset{
    margin-bottom:10px;
  }


  #submitPass{
    margin-top:15px;
  }
}