#video1 {
  position: absolute;
  width: auto;
  height: 100%;
}

#canvas1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

#profile-pic .btn {
  width: 100%;
}

#profile-pic .row {
  height: 100%;
}

#profile-button-box-outer {
  height: auto;
}

#profile-button-box {
  position: relative;
  top: 0;
  transform: translateY(0);
}

#profile-outer {
  height: auto;
}

#profile-image-square {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  #profile-button-box-outer {
    height: 100%;
  }

  #profile-button-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #profile-outer {
    height: 100%;
  }

  #profile-image-square {
    top: 50%;
    transform: translateY(-50%);
  }
}