.cd-panel-container{
  background-color: #2E3233;
  overflow-y: scroll;

}
.cd-panel-content{
  margin-top:60px;
}
.cd-main-content{

  overflow: hidden;
}
#panel-Header{
  background-color: darkorange;
  height:90px;


   #index-image-user{
     height: 50px;
     width: 50px;
     margin-top: -30px;
     margin-left: 15px;
  }
  #index_user-name{
    margin-left:10px;
    margin-top: 30px;
    font-size: 40px;
  }

}
.div1,.div2{
  display:inline-block;
}
.cd-panel-header{
  background-color: darkorange;
}

#User{
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2000;
  border-bottom: solid  lightgrey 3px;
  top: 0
}


button:focus {
  outline:0;
}

#Glyph {
  line-height : 50px;
}

#Fetch{
  margin: 0;
  font-family: Fetch, serif;
  color: #f36100;
  font-size: 32px;
  line-height: 50px;
}
#Butt{
  margin-top:50px;
  overflow-y: auto;
  overflow-x: hidden;
  div{
    cursor: pointer;
    width:100%;
    height: 60px;
    border:0;
    padding: 0;
    border:none;
    color:darkgray;
    background-color:transparent;
    text-align: left;
  }

  div:hover{

    color:white;
    .glyphicon{
      color:orange;
    }
  }
}

#User {
  height: 50px;
}

#open-menu-drawer {
  color: $fetchOrange;
  font-size: 24px;
  line-height: 50px;
  &:hover {
    color: black;
  }
}

