#tickets {
  h4{
    color:lightgray;
    font-weight:300;

  }
  .ticket {
      position: relative;
      font-size: 14px;
      border-top: 1px solid #ededed;
      font-weight: bold;
      width: 100%;
      line-height: 2;
    }

    .ticket:hover {
      background-color: rgba(33, 19, 0, 0.07);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    align-items: stretch;
  }

  .store {
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    margin: 0 0px;
    width:100%;
    padding:0;

  }
  .marketButtons {

    margin:auto;
    text-align:center;

    @media screen and(max-width: 500px) {
      width: 95%;

    }
    @media screen and(min-width: 500px) {
      width: 80%;
    }
  }

  .selected {
    h4{
      color: black;
      font-weight:300;
    }
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
  }
}