#tickets {
  h4{
    color:black;
    font-weight:100;
  }

  .row{
    margin-bottom:0;
  }

  .ticket {
      position: relative;
      font-size: 14px;
      border-top: 1px solid #ededed;
      font-weight: bold;
      width: 100%;
      line-height: 2;
    }

    .ticket:hover {
      background-color: rgba(33, 19, 0, 0.07);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    align-items: stretch;
  }

  .store {
    border-radius: 5px;
    box-shadow: 0px 1px 3px #888888;
    margin: 0 2px;
    padding:0;

  }
  .marketButtons {

    margin:auto;
    text-align:center;

    @media screen and(max-width: 500px) {
      width: 95%;

    }
    @media screen and(min-width: 500px) {
      width: 80%;
    }

    margin-bottom: 5px;
  }

  .selected {
    h4{
      color: grey;
      font-weight:100;
    }
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
  }
}