

$tablet-width: 720px; //bootstrap has this set to 768, excluding quite a bit of tablets vertical
$small-desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin tablet {
  @media (only-screen and min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (only-screen and min-width: #{$small-desktop-width}) {
    @content;
  }
}
@mixin large-desktop {
  @media (only-screen and min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  @include tablet {
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.3);
  }
  @include desktop {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
  }
}

@mixin outline-shadow {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  @include tablet {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  }
  @include desktop {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
}
@mixin emphasis-shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
  @include tablet {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
  }
  @include desktop {
    box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.8);
  }
}
