

/*    Media queries    */
/*
Usage:
By default (as in bootstrap) css should be written to target mobilee devices.
Use breakpoints when differing for larger devices.

We are not allowing user to rotate screen in app, so only 3 breakpoints matter:
tablet, if specifically targeting tablet (might be optional since we won't be demoing)
desktop, if targeting all desktop or smaller desktop
large-desktop, if targeting specifically larger desktop

@include <device_size> {
  //intended styles
}
ex.
//.button:hover {
//    //Does nothing if not on desktop; if attribute is empty like this, don't need type it out
//}
@include desktop {
  //On desktop, expand on hover
  .button:hover {
    transform: scale(1.2, 1.2);
  }
}
*/


$tablet-width: 720px; //bootstrap has this set to 768, excluding quite a bit of tablets vertical
$small-desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin tablet {
  @media (only-screen and min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (only-screen and min-width: #{$small-desktop-width}) {
    @content;
  }
}
@mixin large-desktop {
  @media (only-screen and min-width: #{$large-desktop-width}) {
    @content;
  }
}

