@font-face {
    font-family: Fetch;
    src: url(fonts/aery.ttf);
}

body{
    font-family: sans-serif;
}

#header{
    Font-family: Fetch;
    text-align: center;
    margin-top: 3%;
    max-height : 5%;
    color: #f36100;
}

/* this ensure the container is never
   larger than 80% of the screen */
.container-fluid{
    max-width: 80%;
}


.row{
    margin-left: 10%;
    margin-right: 10%;
}


figure{
    position:relative;
}

figure h2{
    position: absolute;
    font-size: 3em;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 34%;
}
.name{
    position:absolute;
}

.row img {
    margin: 0 0 10px;
    border-radius: 5px;
    max-width: 100%;


}

.col-sm-6 {
    padding-top: 5%;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}

