html, body {
    height: 100%;
}

h1, h4 {
    font-family:arial;
    color:orange;
    margin:auto;
}

form {
    display:inline-block;
}

#button{
    display:inline-block;
    height:27px;
    width:70px;
    background-color: orange;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    text-align:center;
    margin: 10px 5px 5px 5px;
    font-size: 20px;
}

#button:active {
    background-color:#ff8000;
    color: #ffffff;
}

#button:hover {
    opacity: 0.75;
}

#submit{
    display:inline-block;
    height:43px;
    width:150px;
    background-color: orange;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    text-align:center;
    margin: 5px 5px 5px 5px;
    font-size: 36px;
}

#submit:active {
    background-color:#ff8000;
    color: #ffffff;
}

#submit:hover {
    opacity: 0.75;
}

#list {
    margin-top: 20px;
    font-family:garamond;
    color:#ffffff;
    font-weight: bold;
    list-style: none;
    position: relative;
    height: 300px;
    overflow-y: scroll;
/*    margin-right: 220px;
    margin-left: 220px; */
}

#list::-webkit-scrollbar {
    width: 12px;
}
/*
#list::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px darkseagreen;
}

#list::-webkit-scrollbar-thumb {
   background: gray;
}
*/
.item {
    background-color:orange;
    margin:10px 10px 10px 10px;
    text-align:center;
    height: 30px;
    padding: 5px 5px 5px 5px;
}

.item:hover {
    opacity: 0.75;
}

body{
    text-align: center;
    position: relative;
    justify-content: center;
    /*margin: 30px 250px 30px 250px; */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*arrow*/
#arrow {
    font-size: 15px;
    text-align: center;
    color: orange;
    visibility: hidden;
}

/* notes */
.notes, .time, .input {
    border: 3px inset #FFA5A5;
    outline:0;
    height:30px;
    width: 275px;
    color: #3daa67;
    font-size: 18px;
    font-weight: bold;
}

#list:hover + #arrow {
    visibility: visible;
}

/* time range */
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    -webkit-box-shadow: inset 0 0 6px darkseagreen;

    height: 8px;
 /*   background: #D7D7D7; */
    border: 1px solid #BABABA;
   /* box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset; */
    clear: both;
    margin: 8px 0;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid orange;
    box-shadow: 0 1px 0 darkorange inset;
    background: orange;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, lightgreen), color-stop(100%, palegreen));
    background-image: -webkit-linear-gradient(top, orange, darkorange);
    background-image: -moz-linear-gradient(top, orange, darkorange);
    background-image: -o-linear-gradient(top, orange, darkorange);
    background-image: linear-gradient(top, orange, darkorange);
}
.ui-slider .ui-slider-handle {
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: limegreen;
    -webkit-box-shadow: 0 1px 1px 1px green inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px seagreen inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px seagreen inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

.slider-time2, .slider-time, #time-range p {
    color: forestgreen;
    font-weight: bold;
    font-size: 16px;
 }

/*dialog box*/

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
.confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    height: auto;
    background: lightgreen;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
}
.confirm h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 1.5rem 1rem 0.5rem;
}
.confirm p {
    text-align: center;
    font-size: 1rem;
    margin: 0 2rem 4.5rem;
}
.confirm button {
    background: transparent;
    border: none;
    color: orange;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.confirm button:nth-of-type(1) {
    border-top: 1px solid mediumseagreen;
    border-right: 1px solid mediumseagreen;
    left: 0;
}
.confirm button:nth-of-type(2) {
    border-top: 1px solid mediumseagreen;
    right: 0;
}
.confirm button:focus,
.confirm button:hover {
    font-weight: bold;
    background: palegreen;
}
.confirm button:active {
    background: #83e083;
}