.state-icon {
    left: -5px;
}
button {
    border: none!important;
    padding: 10px!important;
    color: white!important;
    text-align: center!important;
    text-decoration: none!important;
    width: 100%;
    display: table-cell;
}

button.selected{
    background-color: gainsboro!important;
    color: white!important;
}
h6{
    color: orangered!important;
}
h5{
    color: orangered!important;
}
h3{
    color: orangered!important;
}

ul{
    padding: 0;
    list-style-type: none;
}

li{
    color: orangered;
}

#dropbtn {
    background-color: #e9bebf;
    color: #ffffff !important;
    border: none;
    cursor: pointer;
    align-self: center;
    width: 100%!important;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%!important;;
}

.dropdown-content {
    display: none;
    color: orangered;
    position: relative;
    background-color: #f9f9f9;
    min-width: 100%!important;
    overflow: auto;
}

.dropdown-content textarea{
    color: orangered;
    width: 100%!important;
    text-decoration: none;
    border: none;
}

#ready {
    background-color: white;
    color: orangered!important;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0!important;
}
.show {display:block;}

.btn-primary{
    background-color: lightskyblue!important;
}

.btn-info{
    background-color: lightblue!important;
}

.btn-success{
    background-color: #c0eec1!important;
}

.btn-warning{
    background-color: lemonchiffon!important;
}

.btn-danger{
    background-color: #e9cfc1 !important;
}
