
.cd-btn:hover{

    background-color: transparent !important;
    color: green;
}
.glyphicon.glyphicon-globe {
    font-size: 900px; !important;

    transform: scale(2, 2);
}
body{
    overflow: hidden;
}
h1{

    font-size: 45px;
    margin-bottom:0;
    Font-family: Fetch;
    color: #f36100;
    height:100px;
    width : 100%;
    margin-bottom:0;
}



